/* src/index.css ou src/App.css */

/* Certifique-se de que o html e o body ocupem 100% da altura e largura */
html, body, #root {
  height: 100%; /* Define a altura como 100% */
  width: 100%;  /* Define a largura como 100% */
  margin: 0;    /* Remove margens */
  padding: 0;   /* Remove padding */
  box-sizing: border-box; /* Inclui padding e bordas no cálculo do tamanho */
}

/* Estilos já existentes */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
