/* src/components/Home.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#sidebar {

    min-width: 250px; /* Largura do menu lateral */
    height: 100vh; /* Altura total da tela */
    padding: 20px; /* Espaçamento interno */
}

.sidebar-header {
    padding: 20px;
    background: #6c757d; /* Cor do cabeçalho */
    color: rgb(219, 207, 207);
}

.components li {
    padding: 10px 0;
}

.components a {
    color: #333;
    text-decoration: none;
    display: block;
}

.components a:hover {
    background: #bbbdbe;
    min-width: 160px;
    color:aliceblue;
    border-radius: 6px; /* Cor ao passar o mouse */
}
.menunav{
    background-color:rgb(255, 251, 0)
}